html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.no-match{
    cursor: default;
    background: orange;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * Styles for the stars
 */

.fa-star {
    border-width: thin;
    color: #ffd700;
}

/*
 * Winning
 */

.headline-top h1 {
    font-weight: bold!important;
    font-size: 50px;
    padding-top: 3px;
    margin-bottom: 10px;
    text-align: center;
}

.subheadline h2 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 10px;
    color: dimgrey;
    text-align: center;
}

.play_again_button {
    font-weight: bold;
    background-color: #0DC7BB;
    padding: 10px 15px 8px 15px;
    border-radius: 5px;
    color: white;
    width: 120px;
    text-align: center;
    margin:0 auto;
}

.winner-container {
    padding-top: 260px;
    width:800px;
    margin:0 auto;
}

/*
 * Mobile & Tablet Views
 */

 /*
  * Small Mobile
  */
 @media only screen and (min-width: 320px) {
   .score-panel {
     width: 90%;
   }
   .deck {
     min-height: 385px;
     width: 90%;
     padding: 8px;
   }
   .deck .card {
     width: 64px;
   }
 }
 /*
  * Medium Mobile
  */
 @media only screen and (min-width: 375px) {
   .deck .card {
     height: 74px;
     width: 74px;
   }
 }
 /*
  * Large Mobile
  */
 @media only screen and (min-width: 425px) {
   .deck {
     min-height: 520px;
     width: 90%;
     padding: 12px;
   }
   .deck .card {
     height: 85px;
     width: 85px;
   }
 }
 /*
 *  Keeping a Row of 4 as we expand to Tablet
 */
 @media only screen and (min-width: 480px) {
   .deck .card {
     height: 95px;
     width: 95px;
   }
 }
 @media only screen and (min-width: 550px) {
   .deck .card {
     height: 100px;
     width: 100px;
   }
 }
 @media only screen and (min-width: 580px) {
   .deck .card {
     height: 115px;
     width: 115px;
   }
 }

 @media only screen and (min-width: 660px) {
   .deck {
     min-height: 600px;
   }
   .deck .card {
     height: 120px;
     width: 120px;
   }
 }

 @media only screen and (min-width: 690px) {
   .score-panel {
    width: 345px;
   }
   .deck {
     width: 660px;
     min-height: 680px;
     padding: 32px;
   }
   .deck .card {
     height: 125px;
     width: 125px;
   }
 }
